
########SYS Pin define#####################


NET sys_clk                              LOC = U10  | IOSTANDARD = "LVCMOS33" | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET sys_rst_n                            LOC = N5   | IOSTANDARD = "LVCMOS33"; 

########LED Pin define#####################

NET LED<0>                               LOC = M11 | IOSTANDARD = "LVCMOS33";       
NET LED<1>                               LOC = N10 | IOSTANDARD = "LVCMOS33";      
NET LED<2>                               LOC = N11 | IOSTANDARD = "LVCMOS33";       
NET LED<3>                               LOC = P11 | IOSTANDARD = "LVCMOS33";       

########FLASH Pin define#####################
NET W25X16_CS	                            LOC = V14 | IOSTANDARD = "LVCMOS33";       
NET W25X16_CLK                              LOC = U13 | IOSTANDARD = "LVCMOS33";       

NET W25X16_DO                               LOC = P12 | IOSTANDARD = "LVCMOS33";       
NET W25X16_DIO                              LOC = V13 | IOSTANDARD = "LVCMOS33";       
